<div class="modal fade" #modalElement tabindex="-1" aria-labelledby="pokemonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pokemonModalLabel">Bebida: {{coctel?.strDrink | titlecase}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 text-center">
              <img [src]="coctel?.strDrinkThumb || '#'" [alt]="coctel?.strDrink" class="img-fluid mb-3">
            </div>
  
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
              <p><strong>Nombre:</strong> {{coctel?.strDrink}}</p>
              <p><strong>Categoría:</strong> {{coctel?.strCategory}}</p>
              <p><strong>Bebida:</strong> {{coctel?.strAlcoholic}} hg</p>
              <p><strong>Glass:</strong> {{coctel?.strGlass}}</p>
              <p><strong>Ingredientes:</strong> {{coctel?.strIngredient1}}, {{coctel?.strIngredient2}},
                {{coctel?.strIngredient3}}</p>
              <p><strong>Description:</strong></p>
              <p>{{coctel?.strInstructions}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  