<!-- Hero Section -->
<div class="container-fluid bg- text-whrite py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold mb-4">Conoce mas sobre Mis APIS</h1>
        <p class="lead mb-4">Navega por toda mi app, creada con Angular para el frontend y Node.js para el backend</p>
        <p class="lead mb-4">Inicia sesión para que puedas ingresar a una api exclusiva donde podras encontrar un
          inventario de artefactos, los cuales podras administrar.</p>
        <div class="d-flex gap-3">
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <img src="https://www.sgstechnologies.net/sites/default/files/2020-02/Angular-node-js_0.png"
          alt="Imagen animada" class="img-fluid">>
      </div>
    </div>
  </div>
</div>
